*{
    text-align: center;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p1{
    font-size: 200%;
    color: blue;
}
.p2{
    font-size: 90%;
    opacity: 0.8;
}
b{
    padding-right: 23rem;
}
body{
    border: black solid thick;
    margin: 3em 30px;
}