*{
    text-align: center;
}

div{
    border: black solid thick;
    margin: 0em 10em ;
}

.p1{
    opacity: 0.5;
    font-family: arial;
}
.p2{
    opacity: 0.6;
}
.p3{
    font-size: 200%;
    font-family: sans-serif;
}

.p4{
     position: absolute;
     background-color: chocolate;
     opacity: 0.6;
     bottom: 100px;
     left: 550px;
     font-size: 250%;
}

.p5{
    font-weight: bold;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover{
    color: firebrick;
    text-decoration: none;
}

img{
    text-align: center;
    width: 50em;
    height: 25em;
}

